.container-information{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background: #fff;

    

    &-title{
        width: 80%;
        height: auto;
        margin-top: 80px;
        margin-bottom: 35px;
        
        h1{
            font-size: 2.6rem;
            color: #000000;
            text-align: center;

        }


    }

}




