.container-information{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #fff;

    

    &-title{
        width: 80%;
        height: 30vh;
        margin-top: 80px;
        
        h1{
            font-size: 2.5rem;
            color: #000000;

        }


    }

}