.container-search{
    width: 90%;
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 90px;
    input{
        width: 250px;
        height: 35px;
        padding: 10px;
        border: 1px solid rgb(255, 152, 0);
        border-radius: 5px;
        background-color: rgb(39, 43, 51);
        color: #fff;
        &:focus{
           
            border: 1px solid rgb(255, 152, 0);
            outline: none;


        }
    }
  
  
}