.container-character{
    width: 80%;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 10px;
    background-color: rgb(60, 62, 68);
    border-radius: 12px;
    img{
        border-radius: 12px 12px 0px 0px;
    }
    h1, h3, h4{
        margin-left: 10px;
        
    }

    h1{
        margin-top: 15px;
    }

    .container-status{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10px;
    }

   .container-button-details{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: end;
    align-items: center;
    button{
      width: 100px;
      height: 30px;
      margin-right: 30px;
      margin-bottom: 20px;
      margin-top: 10px;
      border: none;
      border-radius: 8px;
      padding: 5px;
      background-color: #ff9800;
      color: #fff;
      font-size: 1.0rem;
      font-weight: 600;
    }
    
   }

    
}

.container-pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #fff;
    
}

.pagination ::ng-deep .ngx-pagination .current {
    background: #E86A33;
    border-radius: 5px;
    margin-top: 20px;
  }


  .icon-status-dead{
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(214, 61, 46);
    border-radius: 50%;

  }

  .icon-status-alive{
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(12, 157, 99);
    border-radius: 50%;

  }

  .icon-status-unknown{
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(167, 167, 167);
    border-radius: 50%;


  }