<nav class="menu">
  <div class="menu-logo">
    <img
      class="menu-logo-icon"
      src="../../../assets/logo-menu.svg"
      alt="LOGO"
    />
  </div>

 

  <div class="container-logo-menu">
   <a routerLink="/search">
    <img src="../../../assets/search-icon.svg" alt="SERCH">
   </a>
    <img src="../../../assets/icon-menu.svg" alt="MENU" (click)="toogleMenu()">
  </div>

</nav>

<div class="container-menu-toggle" *ngIf="showMenu">
  <ul>
    <li>
      <a routerLink="/characters" (click)="toogleMenu()">Characters</a>
    </li>
    <li>
      <a routerLink="/episodes" (click)="toogleMenu()">Episodes</a>
    </li>

    <li>
      <div class="boton-api">
        <button (click)="showNewWindows()">API Docs</button>
      </div>
    </li>
    
  </ul>
</div>



