<nav class="menu">
  <div class="menu-logo">
    <img
      class="menu-logo-icon"
      src="../../../assets/logo-menu.svg"
      alt="LOGO"
    />
  </div>

  <div class="container-logo-menu">
    <img src="../../../assets/icon-menu.svg" alt="MENU" (click)="toogleMenu()">
  </div>
</nav>

<div class="container-menu-toggle" *ngIf="showMenu">
  <ul>
    <li>
      <a routerLink="/characters">Character</a>
    </li>
    <li>
      <a href="">Episodes</a>
    </li>
  </ul>
</div>


  


<app-information> </app-information>
