.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: #fff;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
 


    &-logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 15px;

    }
    &-logo-icon{
        width: 40px;
        height: 40px;
    }




}

.container-logo-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    img{
        width: 40px;
        height: 40px;
    }
}


.container-menu-toggle{
    width: 30vw;
    height: 25vh;
    margin-top: 75px;
    z-index: 2;
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    right: 0;
    top: 0;
    
  
    ul{
        display: flex;
        flex-direction: column;
        li{
            list-style: none;
            margin-left: 10px;
            margin-top: 5px;
            a{
                text-decoration: none;
                font-size: 1.0rem;
                font-weight: 600;
                color: black;

            }
        }
    }

    .boton-api{
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: center;
        align-items: center;
       
        
        button{
            margin-top: 30px;
            width: 100px;
            height: 30px;
            border-radius: 7px;
            border: none;
            color: #fff;
            background-color: rgb(255, 152, 0);
            color: #fff;
            font-weight: 600;
          

            
            
        }
    }
}

