.character-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    min-width: 320px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgb(60, 62, 68);
    img{
        border-radius: 10px 10px 0px 0px;
    }

    h1{
        margin-left: 10px;
    }

    h5{
        margin-left: 10px;
    }
}

.container-status-personaje{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;

}

.container-location{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    span{
        color: rgb(245, 245, 245);
        margin-left: 10px;
    }
    
}


.container-origin{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    span{
        color: rgb(245, 245, 245);
        margin-left: 10px;
    }

}


.icon-status-dead{
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(214, 61, 46);
    border-radius: 50%;

  }

  .icon-status-alive{
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(12, 157, 99);
    border-radius: 50%;

  }

  .icon-status-unknown{
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(167, 167, 167);
    border-radius: 50%;


  }


  .container-episodes{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    &-title{
        display: grid;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;

    }
    span{
        background-color: #ff9800;
        width:90px;
        height: 30px;
        text-align: center;
        margin-left: 10px;
        border-radius: 8px;
        font-weight: 600;
    }
  }