<section>
    <div class="container-character" *ngFor="let character of Allcharacters.results | paginate:{itemsPerPage: 5, currentPage: paginaActual}">
       <img src={{character.image}} alt="personaje">
       <h1>{{character.name}}</h1>
       <h3>{{character.status}} - {{character.species}}</h3>
       <h4>Origin: {{character.origin.name}}</h4>
        
    </div>
</section>

<div class="separator"></div>

<div class="container-pagination">
    <pagination-controls previousLabel="Anterior"
    nextLabel="Siguiente"  (pageChange)="paginaActual = $event" class="pagination"></pagination-controls>
</div>

